@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.div {
    text-align: justify;
    text-justify: inter-word;
    padding-top: 2rem;
  }

.services {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.subtitulo {
    padding-top: 1.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #1e3a8a;
}
