.textIndigo600 {
  color: #4f46e5;
}
.textBlue100 {
  color: #ebf8ff;
}

.textBlue200 {
  color: #bee3f8;
}

.textBlue300 {
  color: #90cdf4;
}

.textBlue400 {
  color: #63b3ed;
}

.textBlue500 {
  color: #4299e1;
}

.textBlue600 {
  color: #3182ce;
}

.textBlue700 {
  color: #2b6cb0;
}

.textBlue800 {
  color: #2c5282;
}

.textBlue900 {
  color: #2a4365;
}
